__*
._*
._.*
.DS_Store
._.DS_Store
assets/__*
assets/._*
assets/._.*
assets/.DS_Store
assets/._.DS_Store
*.log
screenshots/*
logs*
batt_*
assets/pics/btn_pics/quick_menu_buttons/
.fuse_hidden000005e900000001
.fuse*
